header img{
    width:70px;
}
.menu-list a{
    padding-left:50px;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    font-weight:350;

}
a{
text-decoration: none;
color:black;
}
.beginning{
    font-size:50px;
    font-family:sans-serif;
    text-align: center;
    margin-top:60px;
}
main{
    margin-left: 100px;
    margin-right: 100px;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    font-weight:350;
}
main h1{
    font-size:25px;
}
.link02{
    color: rgb(15, 101, 213);
    text-decoration: solid;
  }
  .div_article_small{
    margin-bottom:150px;
}
.article_small{
    display: inline-block;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:350;
    margin-right:5px;
    margin-top:100px;
}
.article_small_text{
    margin-right:20px;
}
.article_small_text h1{
    font-size:25px;
}
.more_details4{
    color: rgb(0, 0, 0);
    font-size:16px;
    background-color: rgb(254, 182, 0);
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-top:53px;
    margin-bottom:30px;
    margin-right:210px;
}
.more_details5{
    color: rgb(0, 0, 0);
    font-size:16px;
    background-color: rgb(254, 182, 0);
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-top:20px;
    margin-bottom:30px;
    margin-right:240px;
}
.more_details6{
    color: rgb(0, 0, 0);
    font-size:16px;
    background-color: rgb(254, 182, 0);
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-top:53px;
    margin-bottom:30px;
    margin-right:210px;
}
.article_small img{
    width: 360px;
    height: 250px;
}
td{
    padding-bottom:4px ;
    padding-left:150px;  
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:350;
    margin-right:150px;
  }
  footer section img{
      margin-right:20px;
  }
  table{
      padding-bottom:50px;
  }
  .link_2{
      float: right;
  }
  .link{
      margin-left:150px;
      margin-right:150px;
      padding-bottom:50px;
      border-bottom:solid 1px gray;
  }
  .end{
      font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-weight:350; 
      display:inline-block;
      padding-right:40px;
  }
  .end_2{
      font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-weight:350; 
      float: right;
  }
  .end_2_img{
      margin-top:10px;
      margin-right:0px;
      width:30px;
      height:30px;
      float: right;
  }
  .all_end{
      margin-left: 150px;
      margin-right: 150px;
      margin-top: 50px;
      margin-bottom: 100px;
  }