header img{
    width:70px;
}
.menu-list a{
    padding-left:50px;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    font-weight:350;

}
a{
text-decoration: none;
color:black;
}
.beginning{
    font-size:52px;
    font-family:sans-serif;
    text-align: center;
    margin-top:60px;
    }
main{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    font-weight:350;
}
.img{
    margin-bottom:70px;
    margin-left: 100px;
    margin-right: 100px;
}
.text{
    margin-left: 100px;
    margin-right: 100px;
}
.more_details2{
    color: rgb(0, 0, 0);
    font-size:16px;
    background-color: rgb(254, 182, 0);
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    border-radius: 4px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    margin-right:440px;
}
.articles{
    display:inline-block;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    margin-top:100px;
    margin-left:100px;
}
.articles img{
    width:600px;
    height:400px;
}
.articles h1{
    font-size:40px;
}
.articles p{
    font-weight:350;
}
.articles2{
    display:inline-block;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    margin-top:100px;
}
.articles2 img{
    width:600px;
    height:400px;
}
.articles2 h1{
    font-size:40px;
}
.articles2 p{
    font-weight:350;
}
.text_that_is_smaller_than_your_brain{
    font-size: 12px;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
td{
    padding-bottom:4px ;
    padding-left:150px;  
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:350;
    margin-right:150px;
  }
footer section img{
    margin-right:20px;
}
table{
    padding-bottom:50px;
}
.link_2{
    float: right;
}
.link{
    margin-left:150px;
    margin-right:150px;
    padding-bottom:50px;
    border-bottom:solid 1px gray;
}
.end{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:350; 
    display:inline-block;
    padding-right:40px;
}
.end_2{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:350; 
    float: right;
}
.end_2_img{
    margin-top:10px;
    margin-right:0px;
    width:30px;
    height:30px;
    float: right;
}
.all_end{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 100px;
}